$lato: 'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;

* {
  box-sizing: border-box;
}

::-webkit-scrollbar,
::-webkit-scrollbar-button {
  display: none;
}

body, html{
  width: 100%;
  height: 100%;
  margin: 0!important;
  padding: 0!important;
  max-height: 100vh;
}

header {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  max-height: 15vh;

  h1 {
    top: 50%;
    bottom: 0;
    left: 45px;
    margin: 0;
    padding: 0;
    height: 32px;
    font-size: 32px;
    line-height: 32px;
    font-family: $lato;
    font-weight: 900;
    position: absolute;
    text-transform: uppercase;
    transform: translate(0, -50%);
  }
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  max-height: 100vh;
  min-height: 480px;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  top: 50%;

  .container {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: rotate(270deg) translateX(-50%);
    transform-origin: top left;
    position: absolute;
    max-width: 100vh;
    min-width: 480px;
    height: 100vw;
    width: 100%;
    top: 50%;

    .page-content {
      position: absolute;
      transform: rotate(90deg) translate(0, -50%);
      transform-origin: top left;
      white-space: nowrap;
      max-height: 100vh;
      min-height: 480px;
      height: 100%;
      width: 100vh;
      left: 50%;
      top: 0;

      .card {
        top: 50%;
        transform: translate(0, -50%);
        display: inline-block;
        width: 260px;
        height: 100%;
        padding: 1rem;
        position: relative;
        overflow: hidden;
        margin-right: 15px;
        text-align: center;
        border-radius: 5px;
        max-height: 480px;
        min-height: 480px;
        max-width: 260px;
        min-width: 260px;

        img {
          border-radius: 5px;
          position: absolute;
          transition: transform .2s;
          transform-origin: 0 0;
          min-width: 100%;
          height: auto;
          left: 50%;
          top: 50%;
          display: block;
          transform: translate(-50%, -50%);
          min-width: 240px;
          min-height: 360px;
          z-index: 1;
        }

        .content {
          left: 0;
          bottom: -170px;
          z-index: 5;
          position: absolute;
          display: block;
          width: 100%;
          padding: 1rem;
          transition: all .2s;

          h2, p, button {
            color: white;
            display: block;
            position: relative;
          }

          h2 {
            margin: 10px 0 0;
            font-family: $lato;
            font-weight: 900;
            font-size: 22px;
            line-height: 22px;
            min-height: 66px
          }

          p {
            margin: 15px 0 0;
            font-family: $montserrat;
            font-weight: 400;
            word-wrap: break-word;
            white-space: initial;
            font-size: 15px;
            line-height: 16px;
          }

          button {
            font-family: $montserrat;
            font-weight: 600;
            cursor: pointer;
            margin: 15px auto;
            padding: 15px 35px;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            background-color: #000;
            border: none;
          }
        }

        &::after {
          content: '';
          z-index: 1;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 200%;
          background: -moz-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 1%, rgba(0,0,0,0.65) 100%);
          background: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 1%,rgba(0,0,0,0.65) 100%);
          background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 1%,rgba(0,0,0,0.65) 100%);
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }

        &:first-child {
          margin-left: 45px;
        }

        &:last-child {
          margin-right: 45px;
        }

        &:hover {
          img {
            transform: scale(1.2) translate(-50%, -50%);
          }

          .content {
            bottom: 0;
            //-webkit-transform: translateY(30vh);
            //transform: translateY(30vh);
          }

          &::after{
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}


footer {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  max-height: 15vh;
  bottom: 0;
  right: 0;
  left: 0;

  .navbar {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 50%;
    bottom: 0;
    left: 0;
    transform: translate(0, -50%);

    a {
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      padding: 15px 25px;
      font-family: $lato;
      font-weight: 400;
      line-height: 12px;
      font-size: 14px;
      margin: 15px 0;
      color: black;
      opacity: 1;

      &:hover {
        opacity: .8;
      }
    }
  }
  /*Tablet*/
  @media only screen and (min-width: 600px) {
    .navbar {
      width: 100%;
      display: inline-block;
      position: absolute;
      bottom: 20px;
      right: 45px;
      left: 45px;

      a {
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 20px 35px;
        font-family: $lato;
        font-weight: 400;
        line-height: 22px;
        font-size: 24px;
        color: black;
        opacity: 1;

        &:hover {
          opacity: .8;
        }
      }
    }
  }

  /*Computador Grande*/
  @media only screen and (min-width: 1200px) {
    .navbar {
      width: 100%;
      display: inline-block;
      position: absolute;
      bottom: 20px;
      right: 45px;
      left: 45px;

      a {
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 20px 35px;
        font-family: $lato;
        font-weight: 400;
        line-height: 28px;
        font-size: 26px;
        color: black;
        opacity: 1;

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}
