* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar,
::-webkit-scrollbar-button {
  display: none;
}

body, html {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
  max-height: 100vh;
}

header {
  width: 100%;
  display: inline-block;
  position: relative;
  height: 15vh;
}

main {
  position: relative;
  display: block;
  height: 70vh;
}

main .container {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transform: rotate(270deg) translateX(-100%);
          transform: rotate(270deg) translateX(-100%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  position: absolute;
  width: 70vh;
  height: 100vw;
}

main .container .page-content {
  position: absolute;
  -webkit-transform: rotate(90deg) translate(0, -50%);
          transform: rotate(90deg) translate(0, -50%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  white-space: nowrap;
  height: 70vh;
  width: 100vh;
  left: 50%;
  top: 0;
}

main .container .page-content .card {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: inline-block;
  width: 260px;
  height: 480px;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
  text-align: center;
  border-radius: 5px;
}

main .container .page-content .card img {
  border-radius: 5px;
  position: absolute;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  min-width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 240px;
  min-height: 360px;
  z-index: 1;
}

main .container .page-content .card .content {
  left: 0;
  bottom: -170px;
  z-index: 5;
  position: absolute;
  display: block;
  width: 100%;
  padding: 1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

main .container .page-content .card .content h2, main .container .page-content .card .content p, main .container .page-content .card .content button {
  color: white;
  display: block;
  position: relative;
}

main .container .page-content .card .content h2 {
  margin: 10px 0 0;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 22px;
  min-height: 66px;
}

main .container .page-content .card .content p {
  margin: 15px 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  white-space: initial;
  font-size: 15px;
  line-height: 16px;
}

main .container .page-content .card .content button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
  margin: 15px auto;
  padding: 15px 35px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border: none;
}

main .container .page-content .card::after {
  content: '';
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), color-stop(1%, rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.65)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 1%, rgba(0, 0, 0, 0.65) 100%);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

main .container .page-content .card:first-child {
  margin-left: 25px;
}

main .container .page-content .card:last-child {
  margin-right: 25px;
}

main .container .page-content .card:hover img {
  -webkit-transform: scale(1.2) translate(-50%, -50%);
          transform: scale(1.2) translate(-50%, -50%);
}

main .container .page-content .card:hover .content {
  bottom: 0;
}

main .container .page-content .card:hover::after {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

footer {
  height: 15vh;
}
/*# sourceMappingURL=main.css.map */